@import "./base.css";

#app {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-background-soft);
  }
}

.router-link {
  background-color: var(--color-background-mute);
  padding: 0.5rem;
  margin-top: 0.5rem;

  color: var(--color-text);
}

.router-link-exact-active {
  background-color: var(--color-active);
}

.router-link:hover {
  background-color: var(--color-hover);
}

.btn {
  background-color: var(--color-background-soft);
  color: var(--color-text);
  padding: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: monospace;
}

.btn:hover {
  background-color: var(--color-hover);
}

.btn:active {
  background-color: var(--color-active);
}

.flex {
  display: flex;
}

.flex-fill {
  flex: 1;
}

.p-1 {
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid red;
}
